@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Playfair+Display:ital,wght@1,500&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Oswald', sans-serif;
  font-family: 'Playfair Display', serif;
}

h1{
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 28px;
  letter-spacing: 5px;
}

.image-container{
  margin :10px 30%;
 
}

img {
  width:100%;
  margin-top: 5px;
}

button {
  cursor: pointer;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin-left:40% ;
  box-shadow: 2px 5px rgb(164, 148, 148);
}

button:active {
  transform: translate(0, 0.3rem);
  box-shadow: none;
}

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width:600px) {
  .image-container{
    margin :5px;
  }

  h1{
    font-size: 22px;
  }


  
}
